<div class="jumbotron text-center">
    <h1>Adafruit Dashboard Tutorial</h1>

   <!-- <h2>{{ message }}</h2>-->

    <p>This tutorial outlines how to set up the Dashboard on Adafruit to display data from the posture sensor</p>
    <p style="border: 2px solid #ebebeb; min-width: 100%; border-bottom: 0 none; height: 501px;"><iframe style="border: 0 none; min-width: 100%" src="https://www.iorad.com/player/96302/IO-Adafruit-Dashboard?src=iframe" width="100%" height="500px" allowfullscreen="true"></iframe></p><p style="display: none;"><p style="display: none;">&lt;i&gt;&lt;b&gt;1.Create a new Feed&lt;/b&gt;&lt;/i&gt;&lt;span&gt;&lt;/span&gt;&lt;br&gt;</p><p style="display: none;">Give the feed a name and a description&lt;br&gt;</p><p style="display: none;">2. &lt;i&gt;&lt;b&gt;Connect a Dashboard to your new Field&lt;/b&gt;&lt;/i&gt;&lt;br&gt;</p><p style="display: none;">&lt;span class=&quot;&quot;&gt;If you don&apos;t have any Dashboards already, Create a New Dashboard&lt;/span&gt;</p><p style="display: none;">Otherwise, select an existing Dashboard.&lt;span class=&quot;&quot;&gt;&lt;/span&gt;</p><p style="display: none;">&lt;b&gt;&lt;i&gt;3. Add a new block&lt;/i&gt;&lt;/b&gt;&lt;br&gt;</p><p style="display: none;">Select how you would like your data displayed.&lt;br&gt;</p><p style="display: none;">Select the feeds you would like to monitor in this dashboard.&lt;br&gt;</p><p style="display: none;">Set the ranges and the names for the x and y axes.&lt;br&gt;</p></p>
</div>